<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Python Completion</string>
	<key>uuid</key>
	<string>F98B72C9-4837-4E74-B2A6-BB9E7831C8EB</string>
</dict>
</plist>
